<header class="header-logo" role="banner">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-6 col-md-3">
                <a href="/">
                  <img class="img-fluid" src="{{ 'HF_LOGO.png' | asset_img_url: '1200x' }}" />
                </a>
            </div>
        </div>
    </div>
  </header>

<div class="container-fluid contact">
    <div class="row align-items-center">
      <div class="col-md-5">
        <h1>ABOUT</h1>
        <p>Hurtframes is a tight-knit community that shares a mutual appreciation for film photography. The core of HF focuses on the continuation and advancing the development of film photography.</p>
        <p>Our work stands out through our unique and creative way of telling visual narratives by partnering with brands, groups, and individuals.</p> 
        <p>We display, document, and advance the film community through our way of story telling, shared video experiences and developing products that serve a purpose in our community.</p>
        <div class="hf-insta">
          <a href="https://www.instagram.com/hurtframes/" target="_blank">
            <img class="img-fluid" src="{{ 'instagram.png' | asset_img_url: '60x' }}" />
          </a>
          <a href="https://www.instagram.com/hurtframes/" target="_blank">
            <p>@HURTFRAMES</p>
          </a>
        </div>
        <img class="img-fluid" src="{{ 'hf-about.png' | asset_img_url: '800x' }}" />
      </div>
      <div class="offset-md-2 col-md-5">
          {% form 'contact' %}

          {% if form.posted_successfully? %}
            <p class="form-success">
              {{ 'contact.form.post_success' | t }}
            </p>
          {% endif %}
        
          {{ form.errors | default_errors }}
        
          <div class="form-group">
            <input type="text"
              name="contact[name]"
              id="ContactFormName"
              placeholder="{{ 'contact.form.name' | t }}"
              value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
          </div>
          <div class="form-group">
            <input type="email"
              name="contact[email]"
              id="ContactFormEmail"
              placeholder="{{ 'contact.form.email' | t }}"
              value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
              spellcheck="false"
              autocomplete="off"
              autocapitalize="off">
          </div>
          <div class="form-group">
            <input type="tel"
              name="contact[phone]"
              id="ContactFormPhone"
              placeholder="{{ 'contact.form.phone' | t }}"
              value="{% if form[phone] %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
              pattern="[0-9\-]*">
          </div>
        
          <div class="form-group">
            <textarea rows="10"
              name="contact[body]"
              id="ContactFormMessage"
              placeholder="{{ 'contact.form.message' | t }}">
              {%- if form.body -%}
                {{- form.body -}}
              {%- endif -%}
            </textarea>
          </div>
        
          <input type="submit" class="btn btn-submit" value="{{ 'contact.form.send' | t }}">
        
        {% endform %}
      </div>
    </div>
  </div>
  


