<header class="header-logo" role="banner">
  <div class="container">
      <div class="row align-items-center justify-content-center">
          <div class="col-6 col-md-3">
              <a href="/">
                <img class="img-fluid" src="{{ 'HF_LOGO.png' | asset_img_url: '1200x' }}" />
              </a>
          </div>
      </div>
  </div>
</header>
<div data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">
  <div class="container-fluid product">
    <div class="row align-items-center justify-content-center">
      {%- assign current_variant = product.selected_or_first_available_variant -%}
      {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

      <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
      <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
      <meta itemprop="brand" content="{{ product.vendor }}">
      <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
      <meta itemprop="description" content="{{ product.description | strip_html | escape }}">
      <div class="col-md-6 featured-container">
        {% if featured_image != blank %}
          <img class="featured-image img-fluid mx-auto d-block" src="{{ featured_image | img_url: '1080x1080' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
        {% endif %}
      </div>
      <div class="col-md-2 variant-container">
        {% if product.images.size > 1 %}
          <ul class="variant-images">
            {% for image in product.images %}
              <li>
                <img class="variant-image" data-large="{{ image.src | img_url: '1080x1080' }}" src="{{ image.src | img_url: '580x580' }}" alt="{{ image.alt | escape }}">
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="col-md-4 order-3 description">
        <h1>{{ product.title }}</h1>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
          <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

          <form action="/cart/add" method="post" enctype="multipart/form-data">
          <div data-price-wrapper>
              <span data-product-price>
                <p class="price">{{ current_variant.price | money }}</p>
              </span>

              {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                <s data-compare-price>
                  {% if current_variant.compare_at_price > current_variant.price %}
                    {{ current_variant.compare_at_price | money }}
                  {% endif %}
                </s>
              {% endif %}
            </div>
            {% unless product.has_only_default_variant %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js">
                  <label for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>

                  <select
                    class="selector-wrapper"
                    id="SingleOptionSelector-{{ forloop.index0 }}"
                    data-single-option-selector
                    data-index="option{{ option.position }}">
                    {% for value in option.values %}
                      <option name="options"
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}selected="selected"{% endif %}>
                          {{ value }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
              {% if product.available and product.variants.size > 1 %}
                {% for option in product.options %}
                  {% include 'swatch' with option %}
                {% endfor %}
              {% endif %}
                          {% endunless %}

            <select name="id" class="no-js" data-product-select>
              {% for variant in product.variants %}
                <option
                  {% if variant == current_variant %}selected="selected"{% endif %}
                  {% unless variant.available %}disabled="disabled"{% endunless %}
                  value="{{ variant.id }}">
                    {{ variant.title }}
                </option>
              {% endfor %}
            </select>

            <button
              type="submit"
              name="add"
              class="add-to-cart"
              data-add-to-cart
              {% unless current_variant.available %}disabled="disabled"{% endunless %}>
                <span data-add-to-cart-text>
                  {% if current_variant.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
            </button>
          </form>

        </div>

        <div class="rte">
          {{ product.description }}
        </div>

        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}

        {% unless product == empty %}
          <script type="application/json" data-product-json>
            {{ product | json }}
          </script>
        {% endunless %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
